################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PocketPets/v16
/.vs/VSWorkspaceState.json
/.vs/asd/v16
